@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');

footer{
    background-color: #E7E7E7;
    color: #FF7367;
    font-family: 'Arima Madurai', cursive;
    height: 300px;
}

h2{
    font-family: 'Arima Madurai', cursive;
    font-size: 28px;
}

li{
    margin: 2px;
}