@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');

.navbar{
    background-color: #E7E7E7;
    height: 85px;
}

h1{
    font-family: 'Arima Madurai', cursive;
    padding-top: 15px;
}

.image{
    padding: 10px;
}

.padding{
    color: #FF7367;
    padding-top: 15px;
}

.paddingIcon{
    padding-top: 20px;
}

.floatRight{
    float: right;
}
