@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');

.navbar{
    background-color: #E7E7E7;
    height: 85px;
}

.image{
    padding: 10px;
}

.charityMatch{
    color: #FF7367;
    font-family: 'Arima Madurai', cursive;
    font-size: 35px;
    padding-top: 15px;
}

.menuBtns{
    margin-top: 15px;
}

.loginBtn{
    padding-top: 15px;
}

.floatRight{
    float: right;
}
