@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');

.parallax {
    background-image: url("./children.jpg");
  
    /* Set a specific height */
    height: 550px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.charityLogo{
  height: auto;
  width: 400px;
}

.topPicks{
  color: #47B673;
  display: inline-block;
  font-family: 'Arima Madurai', cursive;
  height: 650px;
  margin: 60px;
}

.userOptions{
  background-color: #E7E7E7;
  color: #47B673;
  font-family: 'Arima Madurai', cursive;
  height: 600px;
}

.newsletter{
  color: #47B673;
  display: inline-block;
  font-family: 'Arima Madurai', cursive;
  height: 300px;
  margin: 50px;
}

