@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');

.parallax {
    background-image: url("./children.jpg");
  
    /* Set a specific height */
    height: 550px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.charityLogo{
  height: auto;
  width: 400px;
}

.topPicks{
  display: inline-block;
  height: 650px;
  margin: 50px 25px 75px 25px;
}

.text{
  color: #47B673;
  font-family: 'Arima Madurai', cursive;
  font-size: 32px;
}

.userOptions{
  background-color: #E7E7E7;
  color: #47B673;
  font-family: 'Arima Madurai', cursive;
  height: 600px;
  margin: 50px 20px 0px 20px;
  padding: 40px;
}

.newsletter{
  color: #47B673;
  display: inline-block;
  font-family: 'Arima Madurai', cursive;
  height: 250px;
  margin: 50px;
}

.emailInput{
  margin: 0px 40px 40px 40px;
}

.inputBtn{
  height: 67px;
}

