@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');

.parallax {
    background-image: url("");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.agreementDiv {
    height: 500px;
    margin: 20px;
}

.agreement{
    color: #47B673;
    font-family: 'Arima Madurai', cursive;
    font-size: 40px;
}

.agreementInfo{
    font-size: 25px;
    font-family: 'Arima Madurai', cursive;
}